.pointer{
    color: black;
    font-size: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .save{
    position: absolute;
    top :0;
    left:0;
    z-index: 10;
    color : white;
    background-color: black;
       border-radius: 50px;
}
.reset{
    position: absolute;
    top :0;
    left:90px;
    z-index: 10;
    color : white;
    background-color: black;
    border-radius: 50px;
}

.texture-selector{
    width: 500px;
    height: 150px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    image-rendering: pixelated;
}
.texture-selector img.selected{
   border:  5px solid red;
}
.none{
    display: none;
}



img{
    width: 100px;
}